aside{ 
	float:left;
	width:15%;
    margin-top:20px;
	min-width:200px;
}
.side{
     font-weight:bold;
	min-width:100px;
	margin:260px 30px; 
	list-style-type: none;
	border:1px solid #ddd;  padding:5px;
}

.pic div{ padding-left:30px;
	   color : white;
        text-shadow:
            1px 1px 1px black,
            -1px -1px 1px black,
            1px -1px 1px black,
            -1px 1px 1px black,
            0px -1px 1px black,
            0px 1px 1px black,
            -1px 0px 1px black,
            1px 0px 1px black,
            0 2px 1px black,
            -1px 3px 1px black,
            1px 3px 1px black;}


.accordion { margin:200px 30px; margin-bottom: 30px;  line-height:30px; text-transform:uppercase; border:1px solid #1d1d1d; border-radius:3px; } 
.accordion>ul { margin:3px; padding:5px; } 
.accordion ul,.accordion li { list-style:none; } 
.accordion>ul>li { margin:0; padding:10px;font-size:16px; font-weight:bold; } 
.accordion>ul>li ul { 
    transition:.3s ease-out; -webkit-transition:.3s ease-out; -moz-transition:.3s ease-out; opacity:0; margin:0; padding:0; 
} 
.accordion>ul>li li { background:#ddd; } 
.accordion a { display:block; color:black!important; text-align:center; text-decoration:none!important; } 
.accordion>ul>li>a { border-bottom:1px solid #161616; } 
.accordion>ul>li ul li a { font-weight:normal; font-size:13px; height:0; transition:.3s ease-out; -webkit-transition:.3s ease-out; -moz-transition:.3s ease-out; } 
.accordion>ul>li:hover ul li a { height:30px; } 
.accordion>ul>li:hover ul { opacity:1; } 
.accordion > ul > li li:hover { box-shadow:inset 0 1px #bbb,inset 0 -1px #bbb; background:#bbb; }


.cute{position:fixed; bottom:250px;left:-30px; width:80px; height:50px;}
.cute div{-webkit-transform: rotate(90deg); margin:10px; background-repeat:no-repeat;width:60px; height:60px; background-size:60px 60px;}
.cute1{position:fixed; bottom:220px;left:-30px;background-image:url('picture/mini1.png');}
.cute2{position:fixed; bottom:160px;left:-30px;background-image:url('picture/mini2.png');}
.cute3{position:fixed; bottom:100px;left:-30px;background-image:url('picture/mini3.png');}
.cute-show{position:fixed;left:-10px;-webkit-transition:.3s ease-out;}


#updown{background-color:white;
	position:fixed; bottom:20px; right:20px; padding:10px;
}
.up{background-image:url('picture/up.png');background-size:50px 50px;z-index:5;margin:5px;}
.up a{color:white;}
.down{background-image:url('picture/down.png');background-size:50px 50px;z-index:5;}
.down a{color:white;}
#updown div{display:inline-block;text-align:center; font-size:30px;  width:50px; height:50px; border-radius:10px;}
footer{clear:both;color:blue; border-top:1px solid black; word-spacing:5px; text-align:center; line-height:30px; font-size:90%; width:100%; height:100px;}