---
layout: base
---

{% include blog/header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include blog/disqus.html %}
        </div>
	        {% include blog/fb-comment.html %}
        <div class="staticman-comments">
          {% include blog/staticman-comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
