<!-- nav start -->
<nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">포트폴리오</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index.html">메인</a></li>
             <li><a href="/post/myinfomation">개인정보</a></li>
               
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">개인 프로젝트 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                 <li class="dropdown-header">2018년도</li>
                  <li><a href="/post/myproject1">스팀 할인 정보 사이트(진행 중)</a></li>
                 <li><a href="/post/myproject2">미세먼지 어플(제작 예정)</a></li>
                </ul>
              </li> 
             
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">학년 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">1학년 프로젝트</li>
                  <li><a href="/post/school1">프로그래밍기초</a></li>
                  <li class="divider"></li>
                 
                  <li class="dropdown-header">2학년 프로젝트</li>
                  <li><a href="/post/school21">이산수학</a></li>
                 <li><a href="/post/school22">멀티미디어프로그래밍</a></li>
                 <li><a href="/post/school23">웹프로그래밍(1)</a></li>
                 <li><a href="/post/school24">게임수학</a></li>
                 <li><a href="/post/school25">데이터베이스</a></li>
                 <li class="divider"></li>
                 
                 <li class="dropdown-header">3학년 프로젝트</li>
                 <li><a href="/post/school31">웹프로그래밍(2)</a></li>
                 <li><a href="/post/school32">게임프로그래밍(1)</a></li>
                 <li><a href="/post/school33">게임프로그래밍(2)</a></li>
                 <li><a href="/post/school34">컴퓨터그래픽스(1)</a></li>
                 <li class="divider"></li>
                 
                 <li class="dropdown-header">4학년 프로젝트</li>
                  <li><a href="/post/school4">멀티미디어종합설계</a></li>
                </ul>
              </li>
             
             
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">공모전 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header">2016년도</li>
                  <li><a href="/post/competition1">농림축산식품 경진대회</a></li>
                  <li><a href="/post/competition2">연구보고서 DB 활용대회</a></li>
                 <li class="divider"></li>
                  <li class="dropdown-header">2017년도</li>
                  <li><a href="/post/competition3">더 착한 대중교통 경진대회</a></li>
                 <li><a href="/post/competition4">경기 빅데이터 경진대회</a></li>
                 <li class="divider"></li>
                 <li class="dropdown-header">2018년도</li>
                  <li><a href="/post/competition5">공군 해커톤(진행 중)</a></li>
                 <li><a href="/post/competition6">NCM VR OPEN CALL(진행 중)</a></li>
                </ul>
              </li>
             
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">연구원 활동 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                 <li><a href="/post/researcher1">URP 연구 과제</a></li>
                 <li><a href="/post/researcher2"> 사회 이슈에 대한 문서 색인 및 문맥 분석 시스템 연구</a></li>
                 <li><a href="/post/researcher3"> 보안 이슈 탐지 시스템의 설계</a></li>
                 <li><a href="/post/researcher4">연구 보고서 기반 사회이슈 추출방안 연구</a></li>
                  <li><a href="/post/researcher5">과학기술 연구보고서의 토픽 분석을 통한 키워드 맵 구축 연구</a></li>
                 <li><a href="/post/researcher6">공공데이터를 활용한 창업 장소 분석 시스템 설계</a></li>
                </ul>
             </li>
            </ul>
          </div><!--/.nav-collapse -->
      </nav>
<!-- nav end-->
